/* Global */
* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: white;
	border: none;
}

p {
	font-family: "Arimo", sans-serif;
}

.grotesk {
	font-family: "Arimo", sans-serif;
	font-weight: 100;
}

.frank {
	font-family: Frank Ruhl Libre;
}

/*NAVIGATION-----------------------------------*/

nav {
	display: flex;
	justify-content: center; /* Horisontal sentrering (valgfritt) */
	text-align: center;
	background: #f7f2de;
	padding: 10px;
}

logo {
	font-family: Frank Ruhl Libre;
	text-transform: uppercase;
	display: flex;
}

nav logo {
	font-size: 2rem;
	align-items: center; /* Vertikal sentrering */
	justify-content: center; /* Horisontal sentrg (valgfritt) */
}

/*HEADER-----------------------------------*/

header {
	position: relative;
	width: 100%;
	overflow: hidden;
}

h1 {
	position: absolute;
	top: 20%; /* 50 % ned fra toppen av header */
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 12.5rem;
	color: white;
	font-family: Frank Ruhl Libre;
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
}

.top-image {
  max-height: 850px;
	width: 100%;
  overflow: hidden;
	position: relative;
}


.top-image img {
 width: 100%;
  height: 100%;
  object-fit: cover;  
	object-position: center bottom; 
	display: block;
}


.vertical-line {
	position: absolute;
	top: 35%; 
	left: 50%;
	display: block;
	border-left: 2px solid #ffffff; /* tykkelse og farge */
	height: 208px;
	z-index: 2;
}

header p {
	position: absolute;
	top: 70%; /* 50 % ned fra toppen av header */
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 2.25rem;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

/*MAIN WHITE-----------------------------------*/

.white-boxes {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto; /* sentrert horisontalt */
  argin: 20px auto;
  justify-content: center;
}

.white-box{
  padding: 10px;
  display: flex;
  flex-direction: column; /* Legger elementene oppå hverandre */
  margin: 2px auto; /* sentrert horisontalt */
  flex: 1 1 400px;	
}


/*MAIN WHITE-----------------------------------*/

.standard-img{
	display: block; /* fjerner eventuell inline-gap */
  width: 100%;
  max-width: 454px;
  height: auto;
  border-radius: 16px; /* avrundede hjørner */
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

h2{
	text-transform: uppercase;
	font-size: 2.25rem;
}
 
/*FOOTER-----------------------------------*/

footer logo {
	font-size: 62px;
	color: white;
	font-weight: 100;
}

footer {
	background: #dc4131;
	padding-left: 54px;
	padding-top: 41px;
	padding-bottom: 93px;
}
