/* Global */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f2de;
    border: none;
}

p {
    font-family: "Arimo", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.grotesk {
    font-family: "Arimo", sans-serif;
    font-weight: 100;
}

.frank {
    font-family: Frank Ruhl Libre;
}

.left {
    text-align: left;
}

.mb-0 {
    margin-bottom: 0;
}

/*NAVIGATION-----------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    background: #f7f2de;
    padding: 10px;
    border-bottom: 1px solid #0b0a08;
    position: sticky;
    top: 0;
    z-index: 1000;
}

logo {
    font-family: Frank Ruhl Libre;
    text-transform: uppercase;
    display: flex;
}

nav logo {
    font-size: 2rem;
    align-items: center;
    justify-content: center;

}

.green-button {
    background-color: #008f51;
    color: black;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    height: 2.25rem;
    display: inline-flex;
    align-items: left;
    justify-content: center;
    font-size: 0.875rem;

}


.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.3125rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-items: left;
}

/* De tre strekene */
.hamburger span {
    display: block;
    height: 0.2rem;
    background-color: #333;
}

/*POPUP meny-----------------------------------*/

.dropdown-menu {
    z-index: 1000;

    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100%;
    max-width: 475px;
    background-color: #008f51;
    border: none;

    padding-top: 10px;
}

.nav-menu li a {
    margin: 0;
    font-family: "Arimo", sans-serif;
    font-weight: 100;
    font-size: 2.25rem;
    align-self: center;
    width: 25%;
    flex-shrink: 0;
    text-decoration: none;
    color: #0b0a08;
    text-align: center;
    padding: 1rem 0;
    line-height: 1.8;
}

.nav-menu li.last_link {
    margin-top: auto;
    margin-bottom: 5rem;
}

.menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.close {
    color: #0b0a08;
    background-color: #008f51;
    border: none;
    font-size: 2rem;
    text-align: left;
    padding: 0.4rem;
    align-self: flex-start;
    margin-left: 1.5rem;
    /* Litt avstand fra venstre kant */
    margin-top: 0.1rem;
    /* Litt avstand fra toppen */
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    /* Fjern punkter (bullets) */
    padding: 0;
    /* Nullstill padding */
    margin: 12rem 0 0 0;
    /* Litt avstand fra 'close'-knappen ned til lenkene */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Stable <li> vertikalt */
    align-items: center;
    /* Sentrer dem horisontalt */
    flex-grow: 1;
}

.menu-line {
    width: 100%;
    /* Tar hele bredden av den grønne boksen */
    border: none;
    /* Fjern standard kantlinje på <hr> */
    height: 1px;
    /* Tykkelsen på linja */
    background-color: #0b0a08;
    /* Samme farge som teksten (eller ønsket farge) */

}

/*HEADER-----------------------------------*/

header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.top-image {
    aspect-ratio: 2 / 1;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.top-image img {
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
    display: block;
}

.header-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    inset: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arimo", sans-serif;
    font-size: 2.25rem;
}

.vertical-line {
    display: block;
    border-left: 2px solid #ffffff;
    height: 208px;
    margin: 2rem 0;
}

.header-text h1 {
    font-size: 12.5rem;
    font-weight: 100;
    font-family: Frank Ruhl Libre;
    line-height: 0.7;
    ;
}

/*MAIN WHITE-----------------------------------*/

.white-boxes {
    background-color: white;
}

.white-boxes .container {
    display: flex;
}

.white-box {
    display: flex;
    padding: 4rem 2rem;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}

.white-box:first-child {
    border-right: 1px solid #000;
}

.border-right {
    border-right: 1px solid #000;
}

.front-frank {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 10px;
}

.white-img {
    justify-content: center;
    margin: 44px;
    border-radius: 16px;
}

.red-button {
    color: white;
    background-color: #dc4131;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8rem 1.9rem;
    width: 320px;
    align-items: center;
    margin-top: 44px;
}

.red-button:hover {
    background-color: #ae2e21;

}

/*MAIN BROWN-----------------------------------*/

.how-it-works {
    display: flex;
    align-items: center;
    background-color: #f7f2de;
    align-items: stretch;
}

.how-it-works-left {
    display: flex;
    flex: 0 0 30%;
    /* Fast bredde ~30% av seksjonen for venstre kolonne */
    padding: 1em;
    /* Litt luft rundt teksten */
    border: 1px solid #000;
    border-right: none;
    /* Fjern linje under siste blokk (da containerens bunnlinje allerede er der) */
    align-items: center;
    justify-content: center;
}

.how-it-works-left h2 {
    margin: 0;
    text-align: center;

}

.how-it-works-right {
    flex: 1;
    /* Høyre kolonne tar resten av tilgjengelig bredde */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    border: 1px solid #000;
}

.how-it-works-right .step {
    display: flex;
    padding: 2.5em 25% 2.5em 5em;
    /* Vertikal padding innen hver blokk for luft over/under teksten */
    border-bottom: 1px solid #000;
    align-items: center;
}

.how-it-works-right .step:last-child {
    border-bottom: none;
    /* Fjern linje under siste blokk (da containerens bunnlinje allerede er der) */
}

.how-it-works-right .step h3 {
    margin: 0;
    font-family: "Arimo", sans-serif;
    font-weight: 100;
    font-size: 1rem;
    align-self: center;
    width: 25%;
    flex-shrink: 0;
}


.how-it-works-right .step p {
    margin: 0 0 1em 0;
    /* Margin under avsnitt for luft (siste avsnitt justeres under) */
    font-family: "Arimo", sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-decoration: none;
}

.how-it-works-right .step p:last-child {
    margin: 0;
}

.how-it-works-right .step a {
    color: rgba(0, 0, 0, 0.7);
}

.how-it-works-right .step p:last-child {
    margin-bottom: 0;
    /* Ingen ekstra margin etter siste avsnitt i blokken */
}


/*MAIN-----------------------------------*/

.standard-img {
    display: block;
    width: 100%;
    max-width: 454px;
    height: auto;
    border-radius: 16px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

h2 {
    text-transform: uppercase;
    font-size: 2.25rem;
    text-align: center;
    line-height: 2.25rem;
}


/*POPULAR-----------------------------------*/
.popular {
    background-color: white;
    padding-top: 5.625rem;
}


.popular h2 {
    text-align: left;
    margin-bottom: 1.5rem;
}

.product-container {
    display: flex;
    /* Hold alle kort på én linje (ingen wrapping) */
    align-items: center;
    margin: 0 -0.5rem;
}

.product-container-wrap {
    flex-wrap: wrap;
}

/* Stil for hvert enkelt produktkort */
.product-card {
    padding: 0 0.5rem;
    flex: 0 0 33.33333%;
}

.product-image {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    display: block;
    overflow: hidden;
    aspect-ratio: 227 / 216;
}

/* Beholder for produktnavn og pris på samme linje */
.product-name-price {
    display: flex;
    justify-content: space-between;
    /* Plasser produktnavn til venstre og pris til høyre */
    padding-top: 0.5rem;
    font-size: 1.55rem;
    font-family: "Arimo", sans-serif;
}

/* Produktnavn (venstre side) */
.product-name {
    font-weight: regular;
    padding-left: 0.5rem;
    padding-top: 0.6rem;
}

/* Produktpris (høyre side) */
.product-price {
    font-weight: regular;
    font-family: "Arimo", sans-serif;
    padding-right: 2rem;
    padding-top: 0.6rem;
}

/* Produktvekt, plassert på egen linje under navn/pris */
.product-weight {
    margin-top: 0.25rem;
    font-size: 1.25rem;
    color: #000000CC;
    font-family: "Arimo", sans-serif;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
    margin-bottom: 5rem;
}

/* Stil for "Add to basket"-knappen */
.add-to-basket {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font: inherit;
    font-size: 1rem;
    font-family: "Arimo", sans-serif;
    border-radius: 1rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.relative {
    position: relative;
    /* For å kunne plassere knappen absolutt i forhold til kortet */
}


/*PRODUCT side 2-----------------------------------*/


.produce h2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.produce p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.text-wrapper p {
    max-width: 40rem;
    width: 100%;
}


/*MAP side 2-----------------------------------*/

.how-it-works-right {
    padding: 5rem;
}




/*FOOTER-----------------------------------*/

footer logo {
    font-size: 3.875rem;
    font-weight: 100;
}

footer {
    background: #dc4131;
    padding-left: 54px;
    padding-top: 41px;
    padding-bottom: 93px;
    color: white;
}

footer h2 {
    text-transform: uppercase;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 1.5rem;
}

footer p {
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 1.4rem;
}

form {
    font-family: "Poppins", sans-serif;
    margin: 0;
    width: 90%;
    max-width: 460px;
}

.form-button {
    display: block;
    width: 100%;
    margin-top: 19px;
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.6rem;
    border: none;
    background-color: #e1eaf0;
    color: #0b0a08;
    border: 2px solid transparent;
}


.input-wrapper {
    position: relative;
    width: 100%;
}


/* Stil på selve pil-knappen */
.submit-arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: black;
    padding: 0 10px;
}


.submit-arrow:hover svg {
    transform: translateX(2px);
    transition: transform 0.2s ease;
}


form input,
form textarea {
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-family: inherit;
    border: none;
    border: 2px solid transparent;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #0b0a08;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

label {
    display: block;
    padding-top: 0.9em;
}

/*RESPONSIVE-----------------------------------*/




@media (max-width: 768px) {

    .container {
        padding: 0 1rem;
    }

    .top-image {
        max-height: none;
        aspect-ratio: 11 / 16;
    }

    .header-text {
        font-size: 1.6rem;
        text-transform: none;
    }

    .header-text h1 {
        font-size: 5rem;
    }

    
/* White boxes */

    .white-boxes .container {
        flex-direction: column;
    }

    .white-box {
        flex: 0 0 100%;
        padding: 6rem 0;
    }

    .white-box:first-child {
        border-right: none;
        border-bottom: 1px solid #000;
    }


    .red-button.grotesk {
        /*targeter elementer som har begge klassene */
        font-size: 1rem;
    }


    /* Brown boxes */

    .how-it-works {
        flex-direction: column;
        align-items: stretch;
    }

    .how-it-works-left,
    .how-it-works-right {
        flex: none;
        width: 100%;
        /* Hver kolonne tar 100% bredde (full bredde på mobil) */
    }

    .how-it-works-left {
        text-align: left;
        margin-bottom: 1em;

    }

    .how-it-works-right {
        text-align: left;
  
    }

    


    /* Produce */
    .product-container-swipe {
        overflow-x: auto;
    }

    .product-container-swipe .product-card {
        flex: 0 0 80%;
    }

    .product-container-wrap .product-card {
        flex: 0 0 100%;
    }

    .how-it-works-right {
        padding: 1rem;
    }

        .how-it-works-right .step {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 0;
    }

    .how-it-works-right .step h3 {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .how-it-works-right .step p {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .how-it-works-right .step a {
        display: block;
        margin-top: 0.5rem;
    }


    .how-it-works-left {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .how-it-works-left h2 {
        font-size: 1.7rem;
    }


    .grotesk {
        font-size: 1.8rem;
    }

    .white-img {
        justify-content: center;
        margin-top: 44px;
        margin-bottom: 44px;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 16px;
    }

    .white-boxes {
        padding: 0.1rem;
    }


    /* Footer */
    footer logo {
        font-size: 3.2rem;
        font-weight: 100;
        padding-bottom: 2rem;
    }

    footer h2 {
        text-transform: uppercase;
        text-align: left;
        margin-top: 5rem;

        font-size: 1.8rem;
    }

    footer p {
        font-weight: 100;
        font-size: 1.1rem;
        line-height: 1.4rem;
        margin-bottom: 1.6rem;
        margin-top: 5rem;
    }

    footer {
        padding-left: 2rem;
    }
}